<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Flight Status Page Parallel Suite" verbose="2" parallel="methods" thread-count="10">
    <test name="Flight Status Page Tests">
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>
</suite>
